
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("RellenandoYobteniendo","NumeroDeApariciones")">
    Ingrese un numero entre 50 y 100<br />
    <input type="number" name="Numero" required /><br />


    <input type="submit" value="Numero de aciertos" />





</form>

