/JavaPracticas/PrimerProyectoJavaIDE/target/
/JavaPracticas/PrimerProyectoJavaIDE/src/main/java/Crud/build/
/JavaPracticas/PrimerProyectoJavaIDE/src/main/java/Crud/dist/
/JavaPracticas/PrimerProyectoJavaIDE/src/main/java/Crud/nbproject/private/
