
@{
    ViewBag.Title = "Index";
}

<h2>NumberRandom</h2>
<form action="@Url.Action("NumeroRandom","Random")">

    pulse para generar numero random

    <input type="submit" value="Generar Numero" />


</form>
