
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("Rellenando","RandomThirthy")">
    Ingrese un numero entre 50 y 100<br />
    <input type="number" name="Numero" required /><br />
    

    <input type="submit" value="Ver Arreglo" />





</form>

