
@{
    ViewBag.Title = "Index";
}

<h2>Mostrar numeros de 10 en 10</h2>
<form action="@Url.Action("Bucle","Bucle10En10")" method="post">
mostrar numero<br />
<input type="submit" value="Mirar" />

</form>
