
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("TablaProceso","TablaMulti")" method="post">
    que tablas desea ver
    <input type="text" name="Usuario" /><br />

    <input type="submit" value ="ver" />


</form>
