
nav{
    
border: 1px solid black ;
background-color: gray;
padding-bottom: 40px;
padding-top: 20px;



}

div{


float:right;


}
span{

    float: left;
}

div:hover{
color: blue;

}
span:hover{
    color: blue;
    
    
    
    }