
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="@Url.Action("TuRango","RandoDeNota")" method="post">

    Ingrese su nota<br />
    <input type="text" name="Nota" />
    <br />
    <br />

    <input type="submit" value="Vefificar" /> 

</form>

