

    h1 {color: aqua;}
    h2 {color:blue;}
    P strong{color: crimson;}
    a {color: red;}
    a em {color:blue;}
    .destacado {color: orange;}
    .especial {color: purple;}
    caption {color: blue;}
    th.especial{color: yellow;}
    td strong {color: yellow;}
    td {color: green;}
    th {color: red;}
    #adicional P {color: greenyellow;}
    #adicional a {color: green;}
    #adicional #especial {color: palevioletred}
    
    




