
@{
    ViewBag.Title = "MostarNoticias";
}

<h2>MostarNoticias</h2>

<div class="row">

    @foreach(Periodico.Models.noticia item in Model)
    {
        <div class="col-sm-3 col-lg-1 col-md-4">

            <img src="#" alt="img" />
            <h3> @item.titulo</h3>
            <P>
                @item.detalle_corto
            </P>
                <div>

                   <a href="@Url.Action("DetalleNoticia","noticias",new {id =item.id })">leer mas</a>

                </div>





        </div>




     }



</div>
